{% load i18n %}
{% autoescape off %}
{% blocktrans %}Bạn nhận được email này vì bạn đã yêu cầu đặt lại mật khẩu cho tài khoản người dùng của bạn tại trang {{ site_name }}.{% endblocktrans %}

{% trans "Vui lòng truy cập trang sau và chọn mật khẩu mới của bạn:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Tên người dùng của bạn, trong trường hợp bạn đã quên:" %} {{ user.get_username }}

{% trans "Cảm ơn bạn đã sử dụng trang web của chúng tôi!" %}

{% blocktrans %}Đội ngũ English4All{% endblocktrans %}

{% endautoescape %}